@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

/*variable definition*/
:root { 
  --main_text_color: #101133;
  --side_bar_color: rgba(240,255,255,0.37);
  --side_bar_head_color: rgba(187,199,223,0.37);
  --rgba_white: rgba(255,255,255,0);
  --second_text_color: #a95741;
  --link_text_color: #3f5a8d;
}
/* base CSS */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: var(--main_text_color);  /* #325050;  body text */
  background: #fff;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 70%;

}

a {
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all  0.25s ease-out;
  transition: all  0.25s ease-out;
  text-decoration: none;
  color: var(--main_text_color);
}

/*a:visited {
  color: #1a5952;
}
a:hover, a:focus {
  color: #0599c2;
  text-decoration: underline;
}*/
abbr {
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.01em;
}
header {
  height: 170px;
  padding: 20px 0 70px 0;

  background: #151b42 50% 0 url(../image/shooter.jpg) no-repeat; /* old IE fallback */

  background-attachment: scroll;
  background-position: left top;
  background-image: url(../image/shooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
}


h1, h2 {
  width: 100%;
  padding-left: 10%;
  margin: 0;
  color: #fff;
  font-weight: normal;
  z-index: 3;
}

h1 .title-en {
  font-family: 'Julius Sans One', sans-serif;
  position: relative;
  float: left;
}

h1 .title-cn {
  padding-top: 15px;
  padding-left: 10px;
/*  font-family: "KaiTi_GB2312","Microsoft YaHei";*/
  font-size: 0.6em; 
  position: relative;
  float: left;
  bottom:0px;
  vertical-align: bottom;
}

h1 a{
  color: #fff;
  padding-top: 10%;
  padding-left: 0px;
  padding-bottom: 0px;
  border-bottom: none;
  font-size: 1.7em;
  text-transform: uppercase;
}

h1 a:hover, h1 a:focus { /*todo*/
  color: #68b6d7;
  padding-top: 10%;
  padding-left: 0px;
  padding-bottom: 5px;
  border-bottom: none;
  font-size: 1.73em;
  text-transform: uppercase;
}

h2 {
  display: block;
  padding-top: 5px;
  padding-bottom: 30px;
  border-top: none;
  color: rgba(255,255,255,0.6);
  font-size: 1.3em;
  position: relative;
  float: left;
  /*font-style: italic;*/
}

h3 {
  margin: 1em 0 0 0;
  color: #212846;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
}

ul , ol{
  margin: 0.5em 0;
}


.page-wrapper {
  position: relative;
  line-height: 2;
}

.info-wapper::after {
  width: 100%;
  margin: 10px 0px 0px 0;
  content: "";
  clear: both;
  display: table;
}

.briefinfo {
  float: left;
  width: 60%;
}

.positions {
  font-size: 0.95em;
  color: var(--second_text_color);
  padding: 0px 0 0 20px;
}

.infolist {
  font-size: 1.0em;
  padding: 0px 0 0 20px;
}

.infolist a {
  color: var(--link_text_color);
}
.photo {
  float: left;
  width: 40%;

}

.photo img{
  padding: 20px 0 0 10px;
  width:93%;
}

.preamble {
/*  width: 80%;*/
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.7em;
  padding-top: 0.5em;
}

/* coloured cutoff */
.even {
  background-attachment: fixed;
  /*background-color: rgba(128,150,200,0.05);*/ /*rgba(138,188,159,0.5);*/
  background-image: url(../image/stones.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.supporting h3 {
  width: 100%;
  padding-left: 0%;
  padding-right: 7%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

.supporting {
  width: 100%;
  padding-left: 13%;
  padding-right: 7%;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  margin: 0;
}

/* main sections */
/*.supporting a {
  color: #0d718c; 
}*/

.supporting a:hover {
  color: #1da1bc; /*#0d8ba1; link text*/
  text-decoration: underline;
}

.university-name, .project-name{
  width: 100%;
  font-size: 1.3em;
}

.project-item::after {
  width: 100%;
  margin: 10px 0px 10px 0;
  content: "";
  clear: both;
  display: table;
}

.project-list {
  margin: 10px 0 0 20px;
}

.project-image {
  float: left;
  width: 20%;
  margin: 10px 10px 10px 10px;
}

.project-image img {
  width: 90%;
  border-radius: 25px;
}

.project-content {
  float: left;
  width: 73%;
}

.project-source {
  color: var(--second_text_color);
}

.project-content ul{
  width: 100%;
  padding-left: 5%;
  padding-right: 7%;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  margin: 0;
}

.publications a {
  color: var(--second_text_color);
}

.award-description {
  color: var(--second_text_color);
}

/* sidebar base styles */
.sidebar {
  background: var(--side_bar_head_color);/*#dae1f0;*/
  margin-top: 0;
  width: 100%;
}

.navigation li {
  float: left;
  width: 20%;
  display: block;
  margin-bottom: 0.25em;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.0em;
  font-style: normal;
  text-transform: uppercase;
}

.navigation a {
  color: #0d718c;
  font-size: 1.2em;
  text-decoration: none;
}

.navigation a:hover, .navigation a:focus, .navigation a:active {
  color: #469ad5;
  font-size: 1.23em;
}

.navigation a:visited {
  color: #5635a0;
  font-size: 1.2em;
}

/* select a design */
.navigation .designer-name {
  color: #293758; /*#616857;*/
  font-size: 0.9em;
  font-style: normal;
}


/*.supporting .rewards h3 {
  padding-top: 0;
}*/
.epilogue {
  width: auto;
  padding: 1em 12%;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
  background: #3e5d67;

  background-attachment: scroll;
  background-image: url(../image/flowers.jpg);
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 2em;
  font-style: italic;
  text-align: center;
}
.epilogue a {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
}



/* main footer */
footer .wrapper {
  clear: both;
  padding: 3em 10%;
  color: #fff;
  background: #132547;
  text-align: center;
}


/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/
/*--------------------------------*/


/* low-res CSS */
@media only screen and (max-width: 600px) {

  header {
    height: 100px;
    padding: 0 0 0 0;
  }
  /* type adjustments */
  h1 {
    padding: 0 10px 0 0;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2em;
  }

  h2 {
    padding: 0 10px 0 0;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.0em;

  }
  .navigation li {
    float: left;
    width: 20%;
    font-size: 0.8em;
  }

  .epilogure {
    padding: 1em 6%;
  }

}


/* mid-res CSS 
@media only screen and (max-width: 1132px) {
  header {
    border-top: solid 10px rgba(19, 42, 71, 0.9);
  }
  p, li {
    font-size: 1.2em;
  }
}*/




/* high-res CSS */
@media only screen and (min-width: 1024px) {
  body {

    background: #ffffff;
    background: -moz-linear-gradient(right,  var(--side_bar_head_color) 0%, var(--side_bar_head_color) 20%, #ffffff 20%, #ffffff 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(0%,#ffffff), color-stop(20%,#ffffff), color-stop(20%,var(--side_bar_head_color)), color-stop(100%,var(--side_bar_head_color)));
    background: -webkit-linear-gradient(right,  var(--side_bar_head_color) 0%, var(--side_bar_head_color) 20%, #ffffff 20%, #ffffff 100%);
    background: -o-linear-gradient(right,  var(--side_bar_head_color) 0%, var(--side_bar_head_color) 20%, #ffffff 20%, #ffffff 100%);
    background: -ms-linear-gradient(right,  var(--side_bar_head_color) 0%, var(--side_bar_head_color) 20%, #ffffff 20%, #ffffff 100%);
    background: linear-gradient(to right,  var(--side_bar_head_color) 0%, var(--side_bar_head_color) 20%, #ffffff 20%, #ffffff 100%);
    font-size: 100%;

  }

  header {
    width: 100%;
    height: 273px;
    padding: 0 15%;
    border-top: solid 12px rgba(19, 42, 71, 0.8);
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
    vertical-align: middle;
    text-align: left;

  }

  header::before, header::after {
    display: block;
    content: " ";
    position: absolute;
    z-index: 3;
  }

  header::after {
    width: 100%;
    left: 0px;
    top: 267px;
    height: 6px;
    background: rgba(19, 42, 71, 0.175); /* a light decorate on the bottom of the header*/
  }

  header::before {
    top: 12px;
    width: 20%;
    left: 0px;
    height: 261px;
    background: rgba(19, 42, 71, 0.27); /* overlap style*/
  }

  h1 {
    display: inline-block;
    position: relative;
    margin: 15px 0 0 0;
    padding: 60px 0 5px 0;
  }

  h2 {
    display: block;
    margin: 0;
    padding: 5px 0 60px 70px;
  }


  .supporting h3 {
    padding-left: 0%;
    padding-top: 1em;
    padding-bottom: 0.3em;
  }

   .supporting {
    width: 100%;
    padding-left: 25%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  /*.project-content ul{
    width: 100%;
    padding-left: 17px;
    padding-right: 7%;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    margin: 0;
  }*/

  .even-wrapper{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;

    /*make the overlap color lighter*/
    background: var(--rgba_white);  
    background: -moz-linear-gradient(right,  var(--side_bar_color) 0%, var(--side_bar_color) 20%, var(--rgba_white) 20%, var(--rgba_white) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop( 0%,var(--rgba_white)), color-stop(20%,var(--rgba_white)), color-stop(20%,var(--side_bar_color)), color-stop(100%,var(--side_bar_color)));
    background: -webkit-linear-gradient(right,  var(--side_bar_color) 0%, var(--side_bar_color) 20%, var(--rgba_white) 20%, var(--rgba_white) 100%);
    background: -o-linear-gradient(right,  var(--side_bar_color) 0%, var(--side_bar_color) 20%, var(--rgba_white) 20%, var(--rgba_white) 100%);
    background: -ms-linear-gradient(right,  var(--side_bar_color) 0%, var(--side_bar_color) 20%, var(--rgba_white) 20%, var(--rgba_white) 100%);
    background: linear-gradient(to right,  var(--side_bar_color) 0%, var(--side_bar_color) 20%, var(--rgba_white) 20%, var(--rgba_white) 100%);
    font-size: 100%;
  }

  .epilogure {
    padding-bottom: 3em;
    padding-top: 3em;
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.3);
  }


  /* sidebar styling */
  .sidebar {
    background: #3a538a;/*#dae1f0;*/
    margin-top: 15px;
    width: 20%;
  }


  .navigation {
    position: absolute;
    left: 0;
    width: 20%;
    padding: 20px 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;
  }

  .navigation li {
    float: left;
    width: 100%;
  }

}

/*These are for subpages with detailed info*/
.content-wapper {
  padding-left: 25%;
  padding-right: 7%;

}

.centerimg {
  padding-left: 10%;
}