---
layout: default
---

<div class="home">
  <div class="sidebar">
      {% include navigation.html %}
  </div>

  <div class="preamble"><p>I have an obsessive interest in <b>understanding intelligence</b>. My research interests is on <b>reinforcement learning</b> and <b>deep neural networks</b>. I'd like to develop an end to end algorithm for robot perception, control and actuation based on reinforcement deep neural networks.  </p> </div>
  <div class="odd">
    <div class="supporting"> {% include educations.html %} </div>
  </div>
  <div class="even">
    <div class="even-wrapper">
      <div class="supporting"> {% include publications.html %} </div>
    </div>
  </div>
  <div class="odd">
    <div class="supporting"> {% include projects.html %} </div>
  </div>
  <div class="even">
    <div class="even-wrapper">
      <div class="supporting"> {% include rewards.html %} </div>
   </div>
 </div>
 
  <div class="epilogue">
      <p>For more information, please contact me by <a href="mailto:amigo@sjtu.edu.cn">email</a></p>
  </div>

 <!--  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

</div>
