<div class = "awards" id=awards>
  <h3 class="award-head">Honors and Awards</h3>

  <ul class = "award-list">
    <li>
      <div class = "award-name" ><a href="{{ site.baseurl }}/subpages/awards/robocup2014.html">Outstanding winner in Standard Platform League of <b>Robocup China Open (Team leader)</b>, Oct. 2014</a></div>
      <div class = "award-description">Framework design, behavior control and multi-robot cooperation. </div>
    </li>

    <li>
      <div class = "award-name" ><a href="{{ site.baseurl }}/subpages/awards/robocup2013.html">First Prize in Standard Platform League of <b>Robocup China Open (Team leader)</b>, Oct. 2013</a></div>
      <div class = "award-description">Framework design, behavior control and multi-robot cooperation</div>
    </li>

    <li>
      <div class = "award-name" >Dr. scholarship for <b>outstanding new student</b>, Sept. 2011</div>
    </li>

    <li>
      <div class = "award-name" ><a href="{{ site.baseurl }}/subpages/awards/robocup2009.html">Second Prize in Middle Size Robot League of <b>Robocup China Open (Team award)</b>, Dec. 2009</a></div>
      <div class = "award-description">Behavior control. </div>
    </li>

    <li>
      <div class = "award-name" >Second prize in the <b>International Collegiate Mathematics Modeling Contest</b>, Dec. 2008</div>
    </li>

    <li>
      <div class = "award-name" >Third Prize in <b>National Collegiate Smart Car Contest</b>,  Aug. 2008</div>
      <div class = "award-description">Computer vision and motor control</div>
    </li>

    <li>
      <div class = "award-name" >Bronze Medal in <b>ACM Programming Contest (Asia Site)</b>, Nov. 2007</div>
    </li>

    <li>
      <div class = "award-name" >Second prize in the <b>National Collegiate Mathematics Modeling Contest (Shanghai Site)</b>, Sept. 2007</div>
    </li>

    <li>
      <div class = "award-name" >School Outstanding Student, 2005, 2006</div>
    </li>
  </ul>
    
</div>