<div class="info-wapper">
  <div class="briefinfo">
    <h3>Wenshan Wang</h3>
    <div class="positions">
        Carnegie Mellon University
        Shanghai Jiao Tong University <br>
        Microsoft Research Asia
    </div>
    <div class='infolist'>
      Email: shanshan1370 [at] sina [dot] com<br>
      Major: Robotics<br>
      <a href="{{ site.baseurl }}{{ site.resource-dir }}/wenshan-cv-2017.pdf">Curriculum Vitae</a> | <a href="{{ site.baseurl }}{{ site.resource-dir }}/Research-Statement-2017.pdf">Research Statement</a> <br>
    </div>
  </div>
  <div class="photo"><img src="image/photo.jpg"  /></div>
</div>
<div class="preamble"><p>I have an obsessive interest in <b>understanding intelligence</b>. My research interests is in <b>reinforcement learning</b> and <b>deep neural networks</b>. I'd like to develop an end to end algorithm for robot perception, control and actuation based on reinforcement deep neural networks.  </p></div>
