<div class = "educations">
  <h1 class="education-head">Education</h1>

  <ul class = "education-list">
    <li>
      <div class = "university-name" >SHANGHAI JIAO TONG UNIVERSITY, Dr. En</div>
      <div class = "uviversity-description">Major in Mechatronics, Research Institute of Robotics</div>
     <div class = "uviversity-description">Thesis: Task Planning for Ubiquitous Robotic Systems in Complex Environments </div>
    </li>

    <li>
      <div class = "university-name" >EAST CHINA UNIVERSITY OF SCIENCE AND TECHNOLOGY, B.En</div>
      <div class = "uviversity-description">Major in Mechanics and Automation</div>
     <div class = "uviversity-description">Minor in Applied Mathematics </div>
    </li>
  </ul>
    
</div>