<div class = "projects" id="projects">
  <h3 class="project-head">Project Experiences</h3>
    <ul class = "project-list">
      <li>
        <div class = "project-name" >Deep learning for object recognition and voice recognition, internship at Pico China Ltd. (2016-2017)</div>
        <div class = "project-description">Developed deep learning algorithms for the object recognition and voice recognition based on open source frameworks, such as Caffe and TensorFlow.</div>
       </li>

      <li>
        <div class = "project-name" >The Study of Ubiquitous Robotic Technology and its Software Modules, cooperated with Yaskawa Electrical Corporation (2014-2015)</div>
        <div class = "project-description">Designed and implemented the ubiquitous robotic system based on Robot Technology Middleware (RTM) and Robot Operating System (ROS).</div>
       <div class = "project-description">Proposed a hierarchical task planning algorithm based on Markov Decision Process (MDP) model. </div>
      </li>

      <li>
        <div class = "project-name" >The Robotic Modularization Techniques, the National High Technology Research and Development Program of China (2013-2015)</div>
        <div class = "project-description">nvestigated the state of the art robotic software modularization techniques, and proposed a national standard on "Robotic Software Functional Component". </div>
      </li>

      <li>
        <div class = "project-name" >Team leader of the standard platform league of Robocup soccer contest (2013-2014) </div>
        <div class = "project-description">In charge of multi-agent coordination, task planning based on hierarchical finite state machine. </div>
      </li>

      <li>
        <div class = "project-name" >The Study of Programming Environment for Intelligent Robots, cooperated with Yaskawa Electrical Corporation (2011-2012)</div>
        <div class = "project-description">Proposed an algorithm for auto-creation of topological map with a probabilistic map build with the laser sensor. </div>
       <div class = "project-description">Developed a robot navigation method for multi-layered environment based on A* algorithm. </div>
      </li>

      <li>
        <div class = "project-name" >Development of Graphical Programming Environment for Educational Humanoid Robot (2009-2011)</div>
        <div class = "project-description">eveloped a graphical programming and simulation environment with Java3D for humanoid robot motion simulation and teaching. </div>
      </li>
    </ul>
</div>