<div class = "projects" id="projects">
  <h3 class="project-head">Project Experiences</h3>
    <div class = "project-list">

      <div class = "project-item">
        <!--div class = "project-content"-->
          <div class = "project-name" >Deep learning for robot mapping and navigation (2017)</div>
          <div class = "project-source">Internship at Microsoft Research Asia </div>
          <ul class = "project-description">
            <li>Develop robot mapping algorithm using monocular camera based on deep neural networks.</li>
            <li>Develop robot navigation algorithm based on reinforcement learning and predictive neural model.</li>
          </ul>
        <!--/div-->
       </div>

      <div class = "project-item">
        <div class = "project-image"><img src="image/tag_dnn.png"  /> </div>
        <div class = "project-content">
          <div class = "project-name" ><a href="{{ site.baseurl }}/subpages/projects/dnn_pico.html">Deep learning for object recognition and voice recognition (2016-2017)</a></div>
          <div class = "project-source">Internship at Pico China Ltd. </div>
          <ul class = "project-description">
            <li>Developed deep learning algorithms for the object recognition and speech recognition based on open source frameworks, such as Caffe and TensorFlow.</li>
          </ul>
        </div>
       </div>

      <div class = "project-item">
        <div class = "project-image"><img src="image/tag_ubibot.png"  /> </div>
        <div class = "project-content">
          <div class = "project-name" ><a href="{{ site.baseurl }}/subpages/projects/ubibot.html">The Study of Ubiquitous Robotic Technology and its Software Modules (2014-2015)</a></div>
          <div class = "project-source">Cooperated with Yaskawa Electrical Corporation </div>
          <ul class = "project-description">
            <li>Designed and implemented the ubiquitous robotic system based on Robot Technology Middleware (RTM) and Robot Operating System (ROS).</li>
            <li>Proposed a hierarchical task planning algorithm based on Markov Decision Process (MDP) model. </li>
          </ul>
       </div>
      </div>

      <div class = "project-item">
        <div class = "project-name" >The Robotic Modularization Techniques  (2013-2015)</div>
        <div class = "project-source">The National High Technology Research and Development Program of China</div>
        <ul class = "project-description"><li>Investigated the state of the art robotic software modularization techniques, and proposed a national standard on "Robotic Software Functional Component". </li></ul>
      </div>

      <div class = "project-item">
        <div class = "project-image"><img src="image/tag_robocupnao.jpg"  /> </div>
        <div class = "project-content">
          <div class = "project-name" >Standard platform league of Robocup soccer contest (2013-2014) </div>
          <ul class = "project-description">
            <li>Team leader.</li>
            <li>In charge of multi-agent coordination, task planning based on hierarchical finite state machine.</li>
          </ul>
        </div>
      </div>

      <div class = "project-item">
        <div class = "project-image"><img src="image/tag_topomap.png"  /> </div>
        <div class = "project-content">
          <div class = "project-name" ><a href="{{ site.baseurl }}/subpages/projects/topomap.html">The Study of Programming Environment for Intelligent Robots (2012-2013)</a></div>
          <div class = "project-source">Cooperated with Yaskawa Electrical Corporation </div>
          <ul class = "project-description">
          <li>Proposed an algorithm for auto-creation of topological map with a probabilistic map build with the laser sensor. </li>
          <li>Developed a robot navigation method for multi-layered environment based on A* algorithm. </li>
          </ul>
        </div>
      </div>

      <div class = "project-item">
        <div class = "project-image"><img src="image/tag_biorobo.png"  /> </div>
        <div class = "project-content">
          <div class = "project-name" ><a href="{{ site.baseurl }}/subpages/projects/biorobo.html">Development of Graphical Programming Environment for Educational Humanoid Robot (2009-2011)</a></div>
          <ul class = "project-description">
            <li>Developed a graphical programming and simulation environment with Java3D for humanoid robot motion simulation and teaching. </li>
          </ul>
        </div>
      </div>
    </div>
</div>