<div class = "publications">
  <h1 class="publication-head">Publications</h1>

  <ol class = "publication-list">
    <li>
      <div class = "publication-name" >Wenshan Wang, Xiaoxiao Zhu, Liyu Wang, Qiang Qiu, Qixin Cao, Ubiquitous Robotic Technology for Smart Manufacturing System, Computational Intelligence and Neuroscience, 2016. </div>
    </li>

    <li>
      <div class = "publication-name" >Wenshan Wang, Qixin Cao, Qiang Qiu, Gilbert Cheruiyot. Online learning of task models for ubiquitous robotic systems, IAS14, 2016, In press.</div>
    </li>

    <li>
      <div class = "publication-name" >Qixin Cao, Wenshan Wang, Xiaoxiao Zhu, Chuntao Leng, Study on Ubiquitous Robotic Systems for Smart Manufacturing Program, IASO2016, In press.</div>
    </li>

    <li>
      <div class = "publication-name" >Wenshan Wang, Qixin Cao, Modeling for Robot Task Planning based on Light-weighted Markov Decision Process, Journal of Huazhong University of Science and Technology, 2015, 43(S1): 58-61.</div>
    </li>

    <li>
      <div class = "publication-name" >Wenshan Wang, Qixin Cao, Xiaoxiao Zhu, Shuang Liang, A Framework for Intelligent Service Environments Based on Middleware and General Purpose Task Planner, 2015 International Conference on Intelligent Environments (IE), IEEE, 2015, pp. 184-187. </div>
    </li>

    <li>
      <div class = "publication-name" >Wenshan Wang, Qixin Cao, Xiaoxiao Zhu, Masaru Adachi. An automatic switching approach of robotic components for improving robot localization reliability in complicated environment. Industrial Robot: An International Journal, 2014, 41(2): 135-144. </div>
    </li>

    <li>
      <div class = "publication-name" >Wenshan Wang, Qixin Cao, Chengcheng Deng, Zhong Liu, Auto-Creation and Navigation of the Multi-area Topological Map for 3D Large-Scale Environment, LSMS/ICSEE 2010, Springer-Verlag Berlin Heidelberg, 2010, pp. 307-315.</div>
    </li>

  </ol>
    
</div>