<div class = "publications" id="publications">
  <h3 class="publication-head">Publications</h3>

  <ol class = "publication-list">
    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Xiaoxiao Zhu, Liyu Wang, Qiang Qiu, Qixin Cao, <a href="{{ site.baseurl }}{{ site.paper-dir }}/CIN2016-wenshan.pdf">Ubiquitous Robotic Technology for Smart Manufacturing System</a>, Computational Intelligence and Neuroscience, 2016. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Qiang Qiu, Gilbert Cheruiyot.  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IAS14-2016-wenshan.pdf">Online learning of task models for ubiquitous robotic systems</a>, International Conference on Intelligent Autonomous Systems. Springer, 2016, 1143-1154.</div>
    </li>

    <li>
      <div class = "publication-name" >Qixin Cao, <b>Wenshan Wang</b>, Xiaoxiao Zhu, Chuntao Leng,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IASO2016-wenshan.pdf">Study on Ubiquitous Robotic Systems for Smart Manufacturing Program</a>, 2016 IEEE Workshop on Advanced Robotics and its Social Impacts (IASO2016), 164-169.</div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/HUST2015-wenshan.pdf">Modeling for Robot Task Planning based on Light-weighted Markov Decision Process</a>, Journal of Huazhong University of Science and Technology, 2015, 43(S1): 58-61.</div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Xiaoxiao Zhu, Shuang Liang,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IE2015-wenshan.pdf">A Framework for Intelligent Service Environments Based on Middleware and General Purpose Task Planner</a>, 2015 International Conference on Intelligent Environments (IE), IEEE, 2015, 184-187. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Xiaoxiao Zhu, Masaru Adachi.  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IR2014-wenshan.pdf">An automatic switching approach of robotic components for improving robot localization reliability in complicated environment</a>. Industrial Robot: An International Journal, 2014, 41(2): 135-144. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Chengcheng Deng, Zhong Liu,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/LSMS2010-wenshan.pdf">Auto-Creation and Navigation of the Multi-area Topological Map for 3D Large-Scale Environment</a>, LSMS/ICSEE 2010, Springer-Verlag Berlin Heidelberg, 2010, 307-315.</div>
    </li>

  </ol>
    
</div>