<div class = "publications" id="publications">
  <h3 class="publication-head">Publications</h3>

  <ol class = "publication-list">
    <li>
      <div class = "publication-name" >Rogerio Bonatti, <b>Wenshan Wang</b>, Cherie Ho, Aayush Ahuja, Mirko Gschwindt, Efe Camci, Erdal Kayacan, Sanjiban Choudhury, Sebastian Scherer, <a href="{{ site.baseurl }}{{ site.paper-dir }}/JFR2019-filming-wenshan.pdf">Autonomous aerial cinematography in unstructured environments with learned artistic decision‐making</a>, Journal of Field Robotics, 2019. </div>
    </li>

    <li>
      <div class = "publication-name" >Mirko Gschwindt, Efe Camci, Rogerio Bonatti, <b>Wenshan Wang</b>, Erdal Kayacan, Sebastian Scherer, <a href="{{ site.baseurl }}{{ site.paper-dir }}/IROS2019-shot-selection-wenshan.pdf">Can a Robot Become a Movie Director? Learning Artistic Principles for Aerial Cinematography</a>, International Conference on Intelligent Robots and Systems (IROS), 2019. </div>
    </li>

    <li>
      <div class = "publication-name" >Xiangwei Wang, Daniel Maturana, Shichao Yang, <b>Wenshan Wang</b>, Qijun Chen and Sebastian Scherer, <a href="{{ site.baseurl }}{{ site.paper-dir }}/IROS2019-VO-wenshan.pdf">Improving Learning-based Ego-motion Estimation with Homomorphism-based Losses and Drift Correction</a>, International Conference on Intelligent Robots and Systems (IROS), 2019. </div>
    </li>

    <li>
      <div class = "publication-name" >Rogerio Bonatti, Cherie Ho, <b>Wenshan Wang</b>, Sanjiban Choudhury, Sebastian Scherer, <a href="{{ site.baseurl }}{{ site.paper-dir }}/IROS2019-filming-wenshan.pdf">Towards a Robust Aerial Cinematography Platform: Localizing and Tracking Moving Targets in Unstructured Environments</a>, International Conference on Intelligent Robots and Systems (IROS), 2019. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Aayush Ahuja, Yanfu Zhang, Rogerio Bonatti, Sebastian Scherer, <a href="{{ site.baseurl }}{{ site.paper-dir }}/ICRA2019-heading-wenshan.pdf">Improved Generalization of Heading Direction Estimation for Aerial Filming Using Semi-Supervised Regression</a>, International Conference on Robotics and Automation (ICRA), 2019. </div>
    </li>

    <li>
      <div class = "publication-name" >Rogerio Bonatti, Zhang Yanfu, Sanjiban Choudhury, <b>Wenshan Wang</b> and Sebastian Scherer, <a href="{{ site.baseurl }}{{ site.paper-dir }}/ISER2018-filming-wenshan.pdf">Autonomous drone cinematographer: Using artistic principles to create smooth, safe, occlusion-free trajectories for aerial filming</a>, Proceedings of International Symposium on Experimental Robotics (ISER), 2018. </div>
    </li>

    <li>
      <div class = "publication-name" >Yanfu Zhang, <b>Wenshan Wang</b>, Rogerio Bonatti, Daniel Maturana and Sebastian Scherer, Xiaoxiao Zhu, Liyu Wang, Qiang Qiu, Qixin Cao, <a href="{{ site.baseurl }}{{ site.paper-dir }}/CoRL2018-ICRL-wenshan.pdf">Integrating kinematics and environment context into deep inverse reinforcement learning for predicting off-road vehicle trajectories</a>, Proceedings of Conference on Robot Learning (CoRL), 2018. </div>
    </li>


    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Xiaoxiao Zhu, Liyu Wang, Qiang Qiu, Qixin Cao, <a href="{{ site.baseurl }}{{ site.paper-dir }}/CIN2016-wenshan.pdf">Ubiquitous Robotic Technology for Smart Manufacturing System</a>, Computational Intelligence and Neuroscience, 2016. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Qiang Qiu, Gilbert Cheruiyot.  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IAS14-2016-wenshan.pdf">Online learning of task models for ubiquitous robotic systems</a>, International Conference on Intelligent Autonomous Systems. Springer, 2016, 1143-1154.</div>
    </li>

    <li>
      <div class = "publication-name" >Qixin Cao, <b>Wenshan Wang</b>, Xiaoxiao Zhu, Chuntao Leng,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IASO2016-wenshan.pdf">Study on Ubiquitous Robotic Systems for Smart Manufacturing Program</a>, 2016 IEEE Workshop on Advanced Robotics and its Social Impacts (IASO2016), 164-169.</div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/HUST2015-wenshan.pdf">Modeling for Robot Task Planning based on Light-weighted Markov Decision Process</a>, Journal of Huazhong University of Science and Technology, 2015, 43(S1): 58-61.</div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Xiaoxiao Zhu, Shuang Liang,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IE2015-wenshan.pdf">A Framework for Intelligent Service Environments Based on Middleware and General Purpose Task Planner</a>, 2015 International Conference on Intelligent Environments (IE), IEEE, 2015, 184-187. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Xiaoxiao Zhu, Masaru Adachi.  <a href="{{ site.baseurl }}{{ site.paper-dir }}/IR2014-wenshan.pdf">An automatic switching approach of robotic components for improving robot localization reliability in complicated environment</a>. Industrial Robot: An International Journal, 2014, 41(2): 135-144. </div>
    </li>

    <li>
      <div class = "publication-name" ><b>Wenshan Wang</b>, Qixin Cao, Chengcheng Deng, Zhong Liu,  <a href="{{ site.baseurl }}{{ site.paper-dir }}/LSMS2010-wenshan.pdf">Auto-Creation and Navigation of the Multi-area Topological Map for 3D Large-Scale Environment</a>, LSMS/ICSEE 2010, Springer-Verlag Berlin Heidelberg, 2010, 307-315.</div>
    </li>

  </ol>
    
</div>