<div class = "rewards">
  <h1 class="reward-head">Honors and Awards</h1>

  <ul class = "reward-list">
    <li>
      <div class = "reward-name" >Outstanding winner in Standard Platform League of Robocup China Open (Team leader), Oct. 2014</div>
      <div class = "reward-description">Framework design, behavior control and multi-robot cooperation. </div>
    </li>

    <li>
      <div class = "reward-name" >First Prize in Standard Platform League of Robocup China Open (Team leader), Oct. 2013</div>
      <div class = "reward-description">Framework design, behavior control and multi-robot cooperation</div>
    </li>

    <li>
      <div class = "reward-name" >Dr. scholarship for outstanding new student, Sept. 2011</div>
    </li>

    <li>
      <div class = "reward-name" >Second Prize in Middle Size Robot League of Robocup China Open (Team award), Dec. 2009</div>
      <div class = "reward-description">Behavior control. </div>
    </li>

    <li>
      <div class = "reward-name" >Second prize in the International Collegiate Mathematics Modeling Contest, Dec. 2008</div>
    </li>

    <li>
      <div class = "reward-name" >Third Prize in National Collegiate Smart Car Contest,  Aug. 2008</div>
      <div class = "reward-description">Computer vision and motor control</div>
    </li>

    <li>
      <div class = "reward-name" >Bronze Medal in ACM Programming Contest (Asia Site), Nov. 2007</div>
    </li>

    <li>
      <div class = "reward-name" >Second prize in the National Collegiate Mathematics Modeling Contest (Shanghai Site), Sept. 2007</div>
    </li>

    <li>
      <div class = "reward-name" >School Outstanding Student, 2005, 2006</div>
    </li>
  </ul>
    
</div>