---
layout: default
---

<div class="blog">

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.visible %}
        <li>
          <div>
            <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> 
            <div class="post-time"> {{ post.date | date: "%b %-d, %Y" }}  </div> <div class="post-meta">  {% if post.meta %} {{ post.meta }}{% endif %} </div>
            
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

</div>
